nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    height: 60px;
}

.right {
    margin-left: auto;
    font-size: 20px;
    color: #3d4e36;
}

nav li {
    display: inline-block
}

<!--boxshadow taken from Starbucks--> 
nav {
    background-color: #FDF7F2;
    padding: 10px 10px;
    text-align: left;
    border-bottom: 5px solid lightgray;
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
}

nav a {
    color: #4f351c ;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 20px;
    top: 0;

}



body {
    color: #FDF7F2;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    background-color: #fdf7f2;
    margin: 0;
}

nav a:hover {
    color: #4f351c;
    cursor: pointer;
}

#home {
    width: 100px;
    height: auto;
    text-align: left;
    display: block;
}


#home:hover {
    color: #4f351c;
    cursor: pointer;
}

#signin-btn {
    position: fixed;
    border: none;
    right: 0;
    margin: 20px 40px;
    padding: 5px 5px;
    border-radius: 50px;
    background-color: #FDF7F2;
    border: 1px solid #4f351c;
    color: #4f351c;
    cursor: pointer;
    font-weight: bold;
}

#signin-btn a {
    display: flex;
    align-items: center;
    text-align: center;
    color: white; 
    font-weight: bold;
    cursor: pointer;

}

#signin-btn:hover{
    cursor: pointer;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #3d4e36;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
    color: #FDF7F2;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 100;
}

/* #dark brown #2d1e10 */
/* #espresso brown #4f351c */
/* #sand #FDF7F2 */
/* #darkgreen #3d4e36 */
/* #lightgreen #7da88f */